.field{
  background-color: darkorange;
  color:white; 
  min-width: 35%;
  float:left;
  clear:left;
  margin-right:1px;
  margin-bottom:1px;
  padding:3px;
}

.value{
  background-color: lightgrey;
  color:black;  
  min-width: 35%;
  float:left;
  margin-right:1px;
  margin-bottom:1px;
  padding:3px;
}